sfa/rspecs/extensions/ext/sfa/1/planetlab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  Extensions for PlanetLab Resources
  Version 1
  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.planet-lab.org/resources/ext/planetlab/1" xmlns:planetlab="http://www.planet-lab.org/resources/ext/planetlab/1">
  <xs:element name="initscript">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
